<div class='chat-team-form'>
  <h1>チーム選択</h1>
  <%=form_with model: @team, local: true do |f|%>
    <div class='chat-team-form__field'>
      <div class='chat-team-form__field--left'>
        <%= f.label :name, :チーム名, class: 'chat-team-form__label'%>
      </div>
      <div class='chat-team-form__field--right'>
        <%= f.text_field :name, class: 'chat__team_name chat-team-form__input', placeholder: '新規作成の場合チーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-team-form__field'>
    </div>
    <div class='chat-team-form__field'>
      <div class='chat-team-form__field--left'>
        <label class='chat-team-form__label' for='chat_team_チーム'>チームメイト</label>
      </div>
      <div class='chat-team-form__field--right'>
      <select name="team[user_ids][]">
           <option value="">チャットするユーザーを選択してください</option>
           <% User.where.not(id: current_user.id).each do |user| %>
             <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <input name="team[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-team-form__field'>
      <div class='chat-team-form__field--left'></div>
      <div class='chat-team-form__field--right'>
        <%= f.submit class: 'chat-team-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
